.container {
  height: 100vh;
  position: relative;
  background-image: url(../imagens/background01.png);
  background-repeat: repeat;
}
/*title page*/
.container-title {
  position: relative;
  text-align: center;
}
.container-title .login-page {
  font-size: 150px;
  padding-top: 20px;
  font-family: Brush Script MT, Brush Script Std, cursive, sans-serif;
  color: #00ced1;
  text-transform: uppercase;
}
.container-title .subtitulo {
  width: 17%;
  position: relative;
  text-align: center;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  background-color: #8b008b;
  padding-bottom: 30px;
  margin-left: 41%;
  border-radius: 7px;
}


/*menu*/

.container-menu {
  display: flex;
  position: relative;
  justify-content: center;
  top: 10px;
}


/*menu arrow*/


.arrow-right-teste ul {
  list-style: none;
}
.arrow-right-teste {
  color: #fff;
  padding: 30px;
  width: 10px;
  margin-left: -5%;
  margin-right: 10%;
  top: 35%;
  background-color: #8b0000;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: .5s;
  display: block;
}
.arrow-right-teste:hover{
  background-color: #c50707;
}
.sidebar-left {
  background-color: #8b0000;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 100px 80px;
  border-radius: 7px 0px 0px 7px;
}
.sidebar-left .inscrever {
  font-size: 30px;
  text-align: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}
.arrow-right {
  position: absolute;
  right: -46px;
  padding: 30px;
  border-radius: 50%;
  background-color: #8b0000;
  top: center;
}
/*sidebar right*/

.sidebar-right {
  background-color: #ffa500;
  color: #8b0000;
  align-items: center;
  border-radius: 0px 7px 7px 0px;
  padding: 100px 110px;
  line-height: 0px;
}
a{
  text-decoration: none;
  color: #fff;
}
.sidebar-right .text-main {
text-transform: uppercase;
}
.sidebar-right .btn-login{
  text-transform: uppercase;
  padding: 20px;
  background-color:hsl(0, 100%, 27%);
  color: #fff;
  width: 70px;
  text-align: center;
  transition: .5s;
  border-radius: 5px;
  cursor: pointer;
}
.btn-login:hover{
  background-color: #c50707;
}
.sidebar-right input{
  width: 200px;
  padding: 8px;
  border-radius: 5px;
}
